body {
	font-family: 'Comfortaa', cursive;
}

.inst_border {
	position: relative;

	border: 5px solid #9932CC;
	border-radius: 10px;

	


}



.inst_border:hover {
 
	border: 5px solid black;
	border-radius: 10px;


}
.carousel-my_img {
  height: 500px;
  width: 100%;
}
.carusel_text{
    font-family: 'Roboto';
    
    color:aliceblue;
    font-size: 40px;
    
    
  

}
.buttoun_carusel_first{
    background-color: blueviolet;
    width: 250px;
    height: 50px;
    font-size: 25px;
    
}


   
   
}
.square {
   width: 220px;
    height: 120px;
    background: #4da1f7;
    
    
}

.bordered {
  border: 5px solid #9932CC;
  border-radius: 10px;
}


.main_advantages {
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  text-align: center;
  color: #9932CC;
  margin-top: 50px;
}


.prof_advantages {
font-family: 'Comfortaa', cursive;
  font-size: 30px;
  color: #9932CC;
  margin-left: 100px;
  margin-right: 100px;

}

.more_information {
  background-color: #DA70D6;
  margin-left: -15px;
  color: white;
  font-size: 1.25vw;
}
.our_work {
  background-color: #DA70D6;
  color: white;
  font-size: 1.25vw;
}
.our_lessons{
    font-family: 'Lato', sans-serif;
  font-size: 60px;
  text-align: center;
  color: white;
  margin-top: 50px;
    
 
}
.texr_work{
        font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: center;
  color:  #9932CC;
  margin-top: 50px;
    
}
.texr_menu_work_1{
        font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: center;
  color:  #9932CC;
  margin-top: 10px;
    
}
.texr_menu_work_2{
        font-family: 'Lato', sans-serif;
  font-size: 15px;
  text-align: center;
  color:  #9932CC;
  margin-top: 10px;
    
}
.button_style_our_work{
    background-color: blueviolet;
}


.visit{
   
   background-image: linear-gradient(90deg,#ffffff,#660099);
    
}
text_onlain{
    
    font-family: sans-serif;
    font-size: 20px;
    color: red;
    
}
.text_robot_first{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    color: red;
}
.text_robot_sekond{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    color: white;

}
.text_robot_therd{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: #666699;

}
.text_robot_sekond_1{
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    
}
.text_futer{
    font-family: 'Anton', ;
    font-size: 20px;
    color: white;}
.footer_button{
    background-color: white;
}
.footer_text_button{
     font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: blueviolet;
    
}
.pos_fixed{
  position:fixed;
  left:0;
  right:0;
  z-index:1000;
    
    
}
.pos_fixed .head{
    
  max-width: 1322px;
  padding-top: 0px;
}
.pos_fixed .logo_fullfix{
  height:70px;
    
}
.pos_fixed .logo_fullfix_call{

    height:20px;

}
.pos_fixed .logo_fullfix_call_geo{

margin-top: 0px;

}
.pos_fixed .logo_fullfix_size{
    margin-top:  -125px;
   font-size: 30px;
    height:10px;

}
.pos_fixed .logo_fullfix_size_for_text{
    margin-top: 0px;
   font-size: 10px;
    height:10px;

}
.pos_fixed .adres_menu{
 margin-top: 110px;
}
.pos_fixed .adres_menu_1{
 margin-top: -400px;
    height: 20px
}
.pos_fixed .adres_menu_2{
    

    margin-top: 20px;

}
.pos_fixed .border_fixed{
    border: 0px solid #9932CC;
  border-radius: 0px;

}
.pos_fixed .border_fixed{
  color: white;

}
.pos_fixed .coll_and_text{
 margin-top: 30px;
margin-left: 1100px; 
}
.pos_fixed .coll_and_text_2{
margin-left: -30px;
margin-top: -185px; 
    height: 20px;
}
.pos_fixed .tellephon{
 margin-top: -1200px;
}
.pos_fixed .onlyscroll{
  display:block;
  padding-top: 18px;
}
.pos_fixed .noscroll{
  display:none;
}
.pos_fixed .but{
  display:none;
}
.pos_fixed .phone{
  float:right;
  width: 300px;
}
.pos_fixed .phone span{
  margin:0;
  font-size: 12px;
  display: none;
}
.pos_fixed .oll_size{
  height:100px;
    border-bottom: 3px solid #a9b6c5;
   /* box-shadow: 13px #555;
*/

box-shadow: 5px 3px 3px #555;
}
.Phone_defolr{
    color: white;
}
.color_style_for_start{
    color: white;
}
.text_rewues{
    font-family: 'Anton', sans-serif;
    color: white;
}


@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

i {
font-family: fontawesome !important;
}